@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --orangeColor: #ff8a16;
    --greenColor: #00bb2d;
    --blueColor: #6F86FF;
}

ul{list-style: none;}

body{background-color: #f9f9f9;}

a{text-decoration: none;}

body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #222;
}

body::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to top, 
        rgb(122, 153, 217) 44%, 
        rgb(84, 155, 242) 72%, 
        rgb(133, 163, 255) 86%);
}
