/* ------------- Main ------------- */
.section__second{
    display: flex;
    flex-direction: row;
}

.section__first, .container__first--subSection, .container__second--subSection{
    background-color: #fff;
    border-radius: 8px;
    margin: 15px;
    padding: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.container__first--subSection{
    margin: 15px 7.5px 15px 15px;
} 
.container__second--subSection{
    margin: 15px 15px 15px 7.5px;
}

.section__first{
    height: 200px;
}

.container__first--subSection{
    flex: 2 2;
    height: 200px;
}

.container__second--subSection{
    flex: 1 1;
}
