/* ------------- Generales -------------  */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* ------------- Reset Password -------------  */
#reset-password-form {
    width: 90%;
    margin: 20px auto;
    padding: 20px 30px 20px 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#reset-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
  
#reset-password-form .form-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
  
#reset-password-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
  
#reset-password-form input[type="email"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
  
#reset-password-form input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #6F86FF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}
  
#reset-password-form input[type="submit"]:hover {background-color: #41509e;}
  
#reset-password-form .login-link {
    font-size: 14px;
    color: #6F86FF;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
}

#reset-password-form .login-link:hover {color: #41509e;}

#reset-password-form .social-login {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

#reset-password-form .social-login a {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    cursor: pointer;
}

.fa-google, .fa-facebook, .fa-apple{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#reset-password-form .social-login a:hover {background-color: #f7f7f7;}

#reset-password-form .social-login a i {
    font-size: 24px;
    color: #337ab7;
}

#reset-password-form .social-login a.google-login i {color: #dd4b39;}

#reset-password-form .social-login a.facebook-login i {color: #3b5998;}

#reset-password-form .social-login a.apple-login i {color: #222;}