<%- include('./partials/head.ejs') %>

<link rel="stylesheet" href="/css/home.css">

<%- include('./partials/header.ejs') %>

    <main>   
        <section class="section__first">
            <div class="firstContainer">

            </div>
        </section>
        
        <section class="section__second">
            <div class="container__first--subSection">
            </div>
            
            <div class="container__second--subSection">
                <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
            </div>
        </section>
        <section class="section__first">
            
        </section>
        
        <section class="section__second">
            <div class="container__first--subSection">

            </div>
            
            <div class="container__second--subSection">

            </div>
        </section>
        <section class="section__first">
            
        </section>
        
        <section class="section__second">
            <div class="container__first--subSection">

            </div>
            
            <div class="container__second--subSection">
            </div>
        </section>
    </main>

    <script src="/js/chartjs/module.js" type="module"></script>

<%- include('./partials/footer.ejs') %>