
<link rel="stylesheet" href="/css/partials/footer.css">
    <footer>
        <section class="footer__section">
            <div class="container__firstInfo--footer">
                <span class="header__sectionText">Information</span>
                <div class="container__info">
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                </div>
            </div>
            <div class="container__secondInfo--footer">
                <span class="header__sectionText">Contact</span>
                <div class="container__info">
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                </div>
            </div>
            
            <div class="container__thirdInfo--footer">
                <span class="header__sectionText">Information</span>
                <div class="container__info">
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                    <a href="#"><span>Lorem</span></a>
                </div>
            </div>
        </section>  
        
        <section class="back__section">
            <div class="container__forwardSection">
                <span class="brand--text">BeHealthy</span>
                <span class="slogan--text">More Concentration. More Gains</span>
                <span class="copyright--text">Copyright © 2029 - BeHealty</span>
            </div>

            <div class="container__forwardSection">
                <img class="imgBrand--App" src="" alt="App Logo PNG">
            </div>
        </section>  
    </footer>

</body>
</html>