    <link rel="stylesheet" href="/css/partials/footer.css">
        
    <footer>
        <section class="footer__section">
            <div class="container__firstInfo--footer">
                <span>Information</span>
                <div class="container__info">
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                </div>
            </div>
            <div class="container__secondInfo--footer">
                <span>Contact</span>
                <div class="container__info">
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                </div>
            </div>

            <div class="container__thirdInfo--footer">
                <span>Information</span>
                <div class="container__info">
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                    <span>Lorem</span>
                </div>
            </div>
        </section>  
        
        <section class="back__section">
            <div class="container__forwardSection">
                <span class="copyright--text">Copyright</span>
                <span class="mail--text">Mail</span>
                <span class="brand--text">Nombre App</span>
            </div>

            <div>
                <img class="imgBrand--App" src="" alt="App Logo">
            </div>
        </section>  
    </footer>

</body>
</html>