footer{
    margin: 15px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #ddd;
}

.footer__section{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.container__firstInfo--footer, .container__secondInfo--footer, .container__thirdInfo--footer{
    margin: 20px 10px 10px 10px;
    text-align: center;
}

.container__info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.back__section .container__forwardSection{
    margin: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright--text{font-size: 14px;}

.slogan--text{font-size: 13px; margin-bottom: 14px;}

.brand--text{font-size: 16px; margin-bottom: 3px;}