/* ------------- Header -------------  */
body.no-scrollBar{overflow: hidden;}

header{position: relative;}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.container__dropdownMenu, .container__topMenu{
    max-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin: 15px 10px;
    transition: background-color .7s ease;
}

.container__dropdownMenu{max-width: 168px;}

.container__topMenu{
    justify-content: end;
    flex: 2 1;
    margin: 15px 10px;
    padding: 0;
}

.container__dropdownMenu:hover, .container__dropdownMenu:hover .element--brand{background-color: #5F41E4;}

.container__dropdownMenu:hover .element--brand{color: #fff;}

.container__accessUser{
    position: relative;
    width: 20%;
    height: 100%;
    max-height: 68px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__accessUser a{
    padding: 20px 20px;
}

.element--brand{
    color: #222;
    margin: 0 0 0 3px;
    font-size: 16px;
    background-color: #fff;
    transition: background-color .7s, color .3s ease;
    padding: 20px 8px;
}

.container__brandText{text-align: center;}

.list__menu{display: flex;}

.container__avatarImg{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.avatar--img{
    width: 52px;
    height: 52px;
    border: 2px solid #222b;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.list--item .text--menu{color: #222;}

.list__menu .item{
    padding: 20px 20px;
    border-bottom: 3px solid transparent;
    transition: border-bottom .4s, background-color .4s ease;
    cursor: pointer;
}

.list__menu .item:hover{
    background-color: #6F86FF60;
    border-bottom: 3px solid #5F41E4;
}


/* ------------- Burger Menu ------------- */
.off-screen-menu{
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    max-width: 420px;
    position: fixed;
    left: -450px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    justify-content: center;
    font-size: 1.9rem;
    transition: .4s ease;
    z-index: 2;
    border: 3px solid #ddd;
}

.off-screen-menu.active{left: 0;}

.off-screen-menu a{
    color: #222;
    text-decoration: none;
    transition: color .3s ease;
}

.off-screen-menu a:hover{color: #5F41E4;}

.ham-menu{
    height: 50px;
    width: 50px;
    margin: auto;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.ham-menu span{
    height: 5px;
    width: 72%;
    background-color: #5F41E4;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.container__dropdownMenu:hover span{background-color: #eee;}

.ham-menu.active:hover span{background-color: #5F41E4;}

.ham-menu span:nth-child(1){top: 25%;}

.ham-menu span:nth-child(3){top: 75%;}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){opacity: 0;}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* ------------- Animation -------------  */
@keyframes modal-animShow{
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
