<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/css/users/fpass.css">

<%- include('../partials/header.ejs') %>

<main>
    <main>
        <form id="login-form">
            <h2>Reset Password</h2>
            <div class="container__inputs">    
                <div class="container__telephone">
                    <i class="fa-solid fa-phone" id="tel"></i><input type="tel" inputmode="numeric" id="telephone" name="telephone" placeholder="telephone">
                </div>
                <div class="separator">
                    <hr class="line">
                    <p class="legend-or">or</p>
                    <hr class="line">
                </div>
                <div class="container__email">
                    <i class="fa-regular fa-envelope" id="envelope"></i><input type="text" id="email" name="email" placeholder="Email adress" autocomplete="off">
                </div>
            </div>
    
            <div class="container__submit">
                <button class="button">
                    <span>Submit</span>
                    <svg viewBox="0 0 15 13">
                        <polyline points="2 6.5 6 10.5 13 2.5"></polyline>
                    </svg>
                </button>
            </div>
        </form>
    </main>
    
    <script src="/js/users/fpass.js"></script>
</main>

<%- include('../partials/footer.ejs') %>