<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/css/users/fpass.css">

<%- include('../partials/header.ejs') %>

<main>
    <form id="reset-password-form">
        <h2>Resetear contraseña</h2>
        <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group">
        <input type="submit" value="Enviar enlace de reseteo">
        </div>
        <p class="login-link">¿Ya tiene una cuenta? <a href="#" class="login-link">Iniciar sesión</a></p>
        <div class="social-login">
            <a href="#" class="google-login"><i class="fa fa-google"></i></a>
            <a href="#" class="facebook-login"><i class="fa fa-facebook"></i></a>
            <a href="#" class="apple-login"><i class="fa-brands fa-apple"></i></a>
        </div>
    </form>
</main>