<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/css/users/log.css">

<%- include('../partials/header.ejs') %>

<main>
    <form id="login-form">
        <h2>Log in with</h2>

        <div class="container__logIn--external">
            <div class="container__google">
                <button><img class="imgBtn" src="/img/svg/google.svg"><span class="icon-label">Google</span></button>
            </div>
            <div class="container__apple">
                <button><img class="imgBtn" src="/img/svg/apple.svg"><span class="icon-label">Apple</span></button>
            </div>
        </div>

        <div class="separator">
            <hr class="line">
            <p class="legend-or">or</p>
            <hr class="line">
        </div>
        <div class="container__inputs">    
            <div class="container__email">
                <i class="fa-regular fa-envelope" id="envelope"></i><input type="text" id="email" name="email" placeholder="Email adress" autocomplete="off">
            </div>
        
            <div class="container__password">
                <i class="fa-solid fa-lock" id="lock"></i><input type="password" id="password" name="password" placeholder="Password" autocomplete="off">
            </div>
        </div>
        <div class="container__forgotPassword">
            <a href="/user/forgot-password" class="forgot-password">Forgot Password?</a>
        </div>
        
        <div class="container__submit">
            <button type="submit" value="login">Login</button>
        </div>

        <span class="redirect__register">Don't have an account? <a href="/user/register">Sing up</a></span>
    </form>
</main>

<script src="/js/users/login.js"></script>

<%- include('../partials/footer.ejs') %>